html,body {
	height: 100%;
	font-family: "微软雅黑";
}

.container {
	padding: 0px;
}

#holder {
	min-height: 100%;
	position: relative;
	width: 1024px;
}

#body {
	padding-top: 157px; /* 142+15 */
	padding-bottom: 100px; /* height of footer */
}

.navbar-self {
	width: 1024px;
	margin-left: auto;
	margin-right: auto;
}

.back-top {
	position: fixed;
	bottom: 0px;
	right: 0px;
	width: 35px;
	background-color: #FF5500;
	padding: 10px;
	color: white;
	z-index: 1040;
	cursor: pointer;
}

.aele {
	margin-bottom: 20px;
}

.li-hr {
	margin-left: -40px;
}

.li-a {
	color: #666666;
}

.f-right {
	float: right;
}

.panel-footer {
	margin-left: -15px;
}

.icon-star {
	color: #FF5500;
}

.yellow {
	color: #CCFF33;
}

.f-left {
	float: left;
}

.more {
	margin-right: 40px;
	cursor: pointer;
}

.btn-g {
	width: 100%;
	background-color: white;
	border: 1px solid #cccccc;
	border-radius: 4px;
}

.btn-g>button {
	border-top: none !important;
	border-bottom: none !important;
}

.btn-g>button:first-child {
	border-left: none !important;
}

.btn-pad {
	padding-left: 13px;
	padding-right: 13px;
}

.label-top {
	position: relative;
	top: 3px;
}

footer {
	height: 100px;
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 0;
}

.foot {
	text-align: center;
}

.theme-color {
	color: #FF5500;
}

.navbar-default {
	background-color: white;
	border: none;
}

.no-lr-padding {
	padding-left: 0px !important;
	padding-right: 0px !important;
}
/* datepicker不现实weeks按钮 */
ul[datepicker-popup-wrap]>li>.btn-group>button.btn-default {
	display: none;
}

.no-lr-margin {
	margin-left: 0px !important;
	margin-right: 0px !important;
}

.nav-self-btn {
	padding-left: 30px;
	padding-right: 30px;
	margin-bottom: 10px;
	font-size: 16px;
	font-family: 微软雅黑;
	margin-left: -20px;
}

.right-width {
	min-width: 120px;
	width: 10px;
}

ul.menu-link>li>a {
	padding-top: 10px;
	padding-bottom: 10px;
	margin-right: 0px;
}

ul.nav>li.tab-width>a {
	padding-top: 10px;
	padding-bottom: 10px;
	margin-right: 0px;
	width: 88.1px;
	border-left-width: 1;
	border-right-width: 1;
}

.borderRadiusIE8 {
	behavior: url(../lib/PIE-1.0.0/PIE.htc);
	position: relative;
}

form div {
	position: relative;
}

select.select {
	position: relative;
	z-index: 10;
	width: 166px !important;
	height: 26px !important;
	line-height: 26px;
}

span.select {
	position: absolute;
	bottom: 0;
	float: left;
	left: 0;
	width: 166px;
	height: 26px;
	line-height: 26px;
	text-indent: 10px;
	background: url(../images/select.jpg) no-repeat 0 0;
	cursor: default;
	z-index: 1;
}

.menu-link {
	font-size: 14px;
	background-color: #FF5500;
	color: white !important;
	margin-left: 0px;
	margin-right: 0px;
}

.menu-link:hover {
	background-color: #F5F5F5 !important;
	color: #FF5500 !important;
}

.mActive {
	background-color: #FFFFFF !important;
	color: #FF5500 !important;
}

.assign {
	width: 213px;
	min-height: 100px;
	border: 1px solid #cccccc;
	display: none;
	position: absolute;
	top: 32px;
	z-index: 9999;
	background-color: #FFFFFF;
	padding-left: 10px;
}

.rating {
	color: #FF5500 !important;
}

.lorryTable {
	display: table;
	margin-top: 20px;
}

.self-brand {
	height: 89px;
	padding-top: 21px;
	padding-bottom: 21px;
	margin-left: 70px;
}

.modal-footer {
	margin-top: 0px;
	padding: 9px 20px 10px;
}

.tab-width>a {
	color: white;
}

.tabset {
	width: 268px;
	height: 250px;
	border: 2px #FF5500 solid;
}

.tabset>ul>li {
	background-color: #FF5500;
}

.lineSpacing,.tab-content {
	margin-top: 20px;
}

.blockSpacing {
	margin-top: 10px;
}

.well {
	padding: 0;
	margin-bottom: 0px;
}

.carousel {
	width: 464px;
}

.col-self {
	float: left;
	margin-left: 15px;
}

.col-self>ul>li>a {
	color: #FFFFFF;
}

.navlinks {
	width: 134px;
	text-align: center;
	float: left;
}

.navbar-left,#body {
	margin-left: 42px;
	margin-right: 42px;
}

.navbar-right {
	margin-right: 70px !important;
}

.notice {
	width: 172px;
	height: 162px;
	background-color: #f5f5f5;
	padding: 5px;
}

.moreInfo {
	color: #FF5500;
	float: right;
	cursor: pointer;
}

.notice>marquee>ul {
	padding-left: 20px;
	height: 110px;
}

#rollText>a {
	width: 140px;
	white-space: normal;
	word-wrap: break-word;
}

.notice>marquee>ul>li {
	width: 140px;
	white-space: normal;
	word-wrap: break-word;
}

.close {
	margin-top: -15px;
}

hr {
	margin-top: 7px;
	margin-bottom: 7px;
}

.col-xs-10>p,.col-xs-12>p {
	white-space: nowrap;
	margin-bottom: 5px;
}

.col-xs-12>p:last-child {
	white-space: normal;
}

.col-xs-10>p:first-child,.col-xs-12>p:first-child {
	margin-top: 5px;
}

.col-xs-10>p>span {
	margin-right: 10px;
}

.col-xs-1>img,.col-xs-2>img {
	margin-top: 30px;
	cursor: pointer;
}

.navbar-header {
	width: 147px;
	float: left;
}

.navbar-sign {
	width: 200px;
	float: right;
	margin-top: 15px;
}

ul.navbar-right>li {
	list-style-type: none;
	margin-top: 5px;
	float: right;
}

.navbar-left {
	float: left;
}

.label-arrows {
	width: 30px;
}

.input-width {
	/* 可输入4个汉字 */
	width: 100px;
}

.fifth-width {
	width: 120px;
}

.badge {
	background-color: #468847;
}

.radio-inline input[type="radio"] {
	margin-top: 5px;
}

.radio-inline {
	margin-left: 0px !important;
	margin-right: 0px !important;
	width: 120px;
}

.car-detail-time {
	margin-right: 15px;
}

.chBoxs {
	overflow: hidden;
	white-space: nowrap;
}

.chBoxs-width {
	width: 742px;
}

#login,#singout {
	cursor: pointer;
}

.login-chBox {
	padding-left: 25px;
	margin-top: -10px !important;
}

.login-btn {
	float: none;
	margin-top: 10px !important;
	margin-bottom: 20px !important;
}

.modal-dialog {
	width: 600px;
}

input[type=radio] {
	margin-top: 4px;
}

input[type=checkbox] {
	margin-top: 4px;
}

.objectInfo {
	background-color: #FFFFFF;
}

.objectInfo:hover {
	background-color: #ffeee5;
}

.datetimepicker {
	padding-left: 10px;
}

.publish-chBox {
	margin-left: 15px;
}

.lorriesBox-width {
	width: 600px;
}

.personal-order {
	background-color: #f7f7f7;
	margin-left: -15px;
}

.personal-order>p {
	text-align: center;
}

p.first {
	font-size: 48px;
	color: #ff9600 !important;
}

p.last {
	margin-top: -20px !important;
	padding-bottom: 15px !important;
	color: #666666 !important;
}

.chart-title {
	margin-top: 10px;
	margin-left: 40px;
	font-size: 22px;
}

.card-icon {
	border-radius: 3px !important;
	padding: 3px 3px !important;
	margin-left: 2px;
	margin-right: 2px;
	font-size: 10px;
	position: relative;
	width: 16px;
}

img.f-left+p {
	line-height: 2.5
}

.visible {
	visibility: visible;
}

.hidden {
	display: none;
}

.xs-font {
	font-size: 14px;
}

.sm-font {
	font-size: 12px !important;
}

.check-group {
	border: 1px solid #f5f5f5;
}

.orderTitle {
	padding: 5px;
	height: 30px;
}

.orderNo {
	float: left;
}

.orderDate {
	float: left;
	margin-left: 20px;
}

.orderStatus {
	float: right;
}

.dottedLine {
	border-top: dotted 1px;
	clear: both
}

.orderInfo {
	border: 1px solid #FF5500;
	width: 940px;
}

.myGoods-ml {
	margin-left: 20px;
}

.myGoods-detail {
	width: 180px;
}

.detail-last {
	margin-left: 70px;
}

.infoHover {
	background-color: white;
}

.infoHover:hover {
	background-color: #f5f5f5;
}

.btn-left {
	margin-left: 20px;
}

#callboard {
	height: 120px;
	line-height: 24px;
	overflow: hidden;
}

#callboard ul {
	padding: 0;
}

#callboard li {
	padding: 0;
}

.citySelect {
	padding: 10px;
	background-color: #FFFFFF;
	border: #FF5500 solid 2px;
	color: #282828;
	width: 700px;
	min-height: 300px;
	display: none;
	left: 50%;
	margin-left: -350px;
	position: absolute;
	z-index: 9999;
	color: #282828;
}

.cityTitle {
	font-weight: 800;
	color: #282828;
}

.cityTitBac {
	background-color: #ffeee5;
	margin: -10px;
	padding: 10px;
}

.cityContent {
	font-weight: 500;
	color: #666666;
}

.city-spacing:hover {
	cursor: pointer;
	color: #FF5500;
}

.city-btn {
	padding: 2px 8px;
	margin-top: -35px;
}

.sCity {
	padding: 2px 8px;
}

.cityR {
	text-align: right;
	width: 70px;
}

.city-spacing {
	margin-left: 10px;
}

.cityColor {
	color: #FF5500;
}

.btn-sel {
	color: #ffffff;
	background-color: #FF5500;
	border-color: #FF5500;
	margin-right: 10px;
}

.longen {
	position: absolute;
	width: 120px;
	left: 5PX;
	margin-left: 110px;
	height: 50px;
	border: 2px solid red;
	display: inline-block;
	padding: 5px;
}

.longen span {
	position: absolute;
	left: -10px;
	border-width: 5px;
	border-style: solid dashed dashed;
	border-color: transparent red transparent transparent;
	font-size: 0;
	line-height: 0;
	top: 3px;
}

.longen em {
	position: absolute;
	left: -8px;
	border-width: 5px;
	border-style: solid dashed dashed;
	border-color: transparent #FFF transparent transparent;
	font-size: 0;
	line-height: 0;
	top: 3px;
}

.maptip {
	position: absolute;
	z-index: 1030;
	display: inline-block;
	font-size: 12px;
	line-height: 1.4;
	opacity: 0;
	filter: alpha(opacity = 0);
	visibility: visible;
}

.dline {
	border-right: 1px solid #666666;
	width: 103px;
	height: 70px;
	display: inline-block;
	margin-left: -1px;
	padding: 0px 0px 0px 3px;
	margin-top: -25px;
}

.Erating {
	color: #FF5500;
	display: inline;
}

.infoHM {
	margin-top: 5px;
	margin-bottom: 5px;
}

.l-font {
	font-weight: 400;
	padding-right: 0px;
}

.w-font {
	font-weight: 600;
}

.conTitle {
	margin-top: 7px;
	text-align: right;
}

.confiPayTip {
	padding: 5px 5px 5px 10px;
	margin-top: -40px;
	background: #FFFFFF;
	left: 50%;
	width: 400px;
	margin-left: -200px;
	position: relative;
	border: 1px #FF5500 solid
}

.lmt {
	margin-top: -7px;
}

.maptip-inner {
	margin-left: -1px;
	max-width: 200px;
	padding: 3px 8px;
	color: #ffffff;
	text-align: center;
	text-decoration: none;
	background-color: #FF5500;
	border-radius: 4px;
	border: #666666 1px solid;
}

.maptip.in {
	opacity: 0.9;
	filter: alpha(opacity = 90);
}

.maptip.right {
	padding: 0 5px;
	margin-left: 3px;
}

.maptip-arrow {
	position: absolute;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
}

.maptip.right .maptip-arrow {
	top: 25%;
	left: 0;
	margin-top: -5px;
	border-right-color: #666666;
	border-width: 5px 5px 5px 0;
}

.btn-sel:hover {
	color: #ffffff;
	background-color: #cc4400;
	border-color: #cc4400;
}

.btn-fen {
	color: #666666;
	background-color: #ffeee5;
	border-color: #666666;
}

.cityW1 {
	width: 35%;
}

.cityW2 {
	width: 65%;
}

.proDiv {
	float: left;
}

.lenFont {
	font-weight: 600;
	color: #FF6600;
}

.proDiv p {
	clear: both;
	margin-right: 10px;
}

.proDiv p span {
	float: left;
	display: block;
}

.letter {
	letter-spacing: 7.5px;
	margin-right: -8px;
}

label.error {
	color: red;
}

.btn-clicked {
	background-color: #ebebeb;
}

.btn-po{
	position: relative;
	top : 32px;
	float: right;
	margin-right:0px;	
}

.conInp{
	width: 81px;
	z-index:2;
}

.confirm-div {
	width: 192px;
	border: 1px #cccccc solid;
	float: left;
	height: 76px;
	margin-left: -192px;
	z-index: 1;
	padding: 5px;
}